@using Abp.Web.Mvc.Extensions
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}

<div class="card">
    <div class="body">
        <h5>An email has been sent to you with password reset. Please login again and change your password as soon as possible!</h5>
        <a id="LoginButton" class="btn btn-block bg-pink waves-effect" href="/account/login">Login</a>
    </div>
</div>