<div class="row clearfix" ng-controller="app.views.report.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    Reports management
                </h2>
            </div>
            <div class="body table-responsive">
                
                <div class="filter-container">
                    <input style="width: 350px;" ng-model="vm.term" class="form-control form-control-sm"/>
                    <button style="border-width: 1px;" ng-click="vm.search(true)" class="btn btn-info btn-sm">Search</button>
                </div>

                <!-- ******************************************************** -->
                <div class="seperate" style="height: 1px; border-bottom: 1px dashed #dddddd; margin-top: 10px; margin-bottom: 10px"></div>
                
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th style="width: 120px;">Type</th>
                        <th>Entity</th>
                        <th>Report content</th>
                        <th style="width: 150px;">User report</th>
                        <th style="width: 100px;">Status</th>
                        <th style="width: 150px;">Report date</th>
                        <th style="width: 120px">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.data">
                        <td>{{item.type == 1 ? 'Book' : 'Chapter'}}</td>
                        <td>{{item.entityName}}</td>
                        <td>{{item.reportContent}}</td>
                        <td>{{item.userReport}}</td>
                        <td>
                            <span ng-if="item.status == 2">Skip</span>
                            <span ng-if="item.status == 1">UnPublic</span>
                            <span ng-if="item.status == 0">No process</span>
                        </td>
                        <td>{{item.reportDate | date:'dd/MM/yyyy HH:mm'}}</td>
                        @* <td class="text-center"> *@
                        @*     <div class=""> *@
                        @*         <input id="isactive{{$index}}" type="checkbox"  value="true" checked ng-model="item.isProcessed" *@
                        @*                class="form-control" ng-change="vm.updateStatus(item.id, item.isProcessed)" /> *@
                        @*         <label for="isactive{{$index}}"></label> *@
                        @*     </div> *@
                        @* </td> *@
                        <td class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" ng-if="item.status == 0"
                               data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">menu</i>
                            </a>
                            <ul class="dropdown-menu pull-right" ng-if="item.status == 0">
                                <li><a href="javascript:void(0);" class="waves-effect waves-block"
                                       ng-click="vm.unPublic(item)">
                                    <i class="material-icons">create</i>UnPublic
                                </a></li>
                                <li><a href="javascript:void(0);" class="waves-effect waves-block"
                                       ng-click="vm.skip(item)">
                                    <i class="material-icons">delete_sweep</i>Skip
                                </a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <ul uib-pagination ng-change="vm.pageChanged()" rotate="false"
                    total-items="vm.totalItems" ng-model="vm.page" max-size="vm.pageSize"
                    class="pagination-sm" boundary-link-numbers="true">
                </ul>
            </div>
        </div>
    </div>
</div>