@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@{
    Layout = null;
    SetAntiForgeryCookie();
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ESN - eBook Social Network</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="~/js/ng-select/select.min.css">
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- flexslider.css-->
    <link rel="stylesheet" href="~/css/flexslider.css">
    <!-- chosen.min.css-->
    <link rel="stylesheet" href="~/css/chosen.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style1.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">

    <link rel="stylesheet" href="~/lib/toastr/toastr.css" />

    <!-- modernizr css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>

    <script type="text/javascript">
        var isAdminLayout = "";
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    @Scripts.Render("~/Bundles/App/vendor/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- SignalR scripts -->
    <script src="~/signalr/hubs"></script>
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")

    @Scripts.Render("~/Bundles/App/Main/js")
</head>

<body class="home-2" ng-app="app">
    <header>
        <!-- header-top-area-start -->
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="account-area text-end">
                            <ul>
                                <li ng-if="isLogon">
                                    <span class="notify-container" ng-click="goToNotification()">
                                        <i class="fa fa-bell" ></i>
                                        <span class="indicator" ng-if="isNewNoti"></span>
                                    </span>
                                </li>
                                <li id="my-coin" ng-if="isLogon">
                                    <div ng-click="goToRecharge()">
                                        {{userCoin | number:0}} <i class="fa fa-bitcoin"></i>
                                    </div>
                                </li>
                                <li id="btnMyAccount">
                                    <a ui-sref="my-account" class="d-flex align-items-center">
                                        <div class="image img-login">
                                            <img src="/images/user.png" width="48" height="48" alt="User">
                                        </div>
                                        <span> My account </span>
                                    </a>
                                </li>
                                <li id="btnSignIn"><a href="~/account/login">Sign in</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top-area-end -->
        <!-- header-mid-area-start -->
        <!-- header-mid-area-end -->
        <!-- main-menu-area-start -->
        <div class="main-menu-area d-md-none d-none d-lg-block" id="header-sticky">
            <div class="container" style="position: relative">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-area" style="width: 100%;">
                            <nav>
                                <ul style="display: flex; align-items: center;">
                                    <li class="active li-logo">
                                        <a class="li-logo" href="~/home">
                                            <img src="~/img/logo/eBook_logo.png" alt="logo" style="height: 47px"/>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a>Categories<i class="fa fa-angle-down"></i></a>
                                        <div class="mega-menu">
                                            <span ng-repeat="item in categoriesAll">
                                                <a ui-sref="category-books({categoryId: item.id})" class="title" style="cursor: pointer">{{item.name}}</a>
                                            </span>
                                        </div>
                                    </li>
                                    
                                    <li><a ui-sref="book-buy-most({mode: 'week'})">Books of week</a></li>
                                    <li><a ui-sref="book-buy-most({mode: 'month'})">Books of month</a></li>
                                    <li style="margin-left: auto;" id="search-nav-item">
                                        <div class="header-search">
                                            <form id="form-search-c">
                                                <input type="text" style="width: 300px;" placeholder="Search book here..." ng-model="keyword">
                                                <a ng-click="searchBook()"><i class="fa fa-search" style="padding-left: 0;color: white;"></i></a>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-end -->
    </header>


    <div class="section-element-area ptb-70" style="">
    		<div class="container">
              <!-- react-empty: 43 -->
              <div class="row sticky-container">
                <div class="col-md-4 col-sm-5 col-xs-12" style="position: fixed">
                  <div class="sticky-outer-wrapper" style="">
                    <div class="sticky-inner-wrapper" style="position: relative; top: 0px;">
                      <nav class="section-nav">
                        <ul>
                          <li class="active">
                            <div class="desktop">
                              <a href="javascript:document.getElementById('tos-intro').scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });">Terms of Service</a>
                            </div>
                          </li>
                          <li class="">
                            <div class="desktop">
                              <a href="javascript:document.getElementById('tos-min-age').scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });">You Need to be 13</a>
                            </div>
                          </li>
                          <li class="">
                            <div class="desktop">
                              <a href="javascript:document.getElementById('tos-account').scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });">You Need an Account</a>
                            </div>
                          </li>
                          <li class="">
                            <div class="desktop">
                              <a href="javascript:document.getElementById('content-ownership').scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });">Your Content is Yours</a>
                            </div>
                          </li>
                          <li class="">
                            <div class="desktop">
                              <a href="javascript:document.getElementById('copyright-handling').scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });">How We Deal with Copyright Issues</a>
                            </div>
                          </li>
                          <li class="">
                            <div class="desktop">
                              <a href="javascript:document.getElementById('dos-and-donts').scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });">Things You Should and Shouldn’t Do</a>
                            </div>
                          </li>
                          <li class="">
                            <div class="desktop">
                              <a href="javascript:document.getElementById('general-terms').scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' });">General Terms</a>
                            </div>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12 content-column" style="margin-left: 278px;">
                  <div class="content-wrapper">
                    <div id="tos-intro">
                      <div class="content-block">
                        <h2 class="">Terms of Service</h2>
                        <p>Welcome to the ESN platform, which is owned and operated by ESN Corp. ( <strong>"ESN"</strong>
                          <strong>"we"</strong> or <strong>"us"</strong>). These terms of service (which includes our <a href="https://support.ESN.com/hc/en-us/articles/200774234-Code-of-Conduct">Code of Conduct</a> and our <a href="/privacy">Privacy Policy</a>) ( <strong>"Terms of Service"</strong>) are a contract between you and ESN. By using ESN.com (the <strong>"Site"</strong>), creating your ESN account and using the Site or our mobile applications to post various content to the ESN community, including stories you create, comments and messages, or to access and view ESN content or other user content (together with the Site, the <strong>"Services"</strong>), you’re agreeing to these Terms of Service. If you don’t agree to any of these terms, you can’t use the ESN Services.
                        </p>
                        
                      </div>
                    </div>
                    <div id="tos-min-age">
                      <div class="content-block">
                        <h2 class="subtitle">You Need to be 13</h2>
                        <p>ESN Services are only for people 13 years old and over. If we learn someone under 13 is using ESN Services, we’ll terminate their account.</p>
                        
                      </div>
                    </div>
                    <div id="tos-account">
                      <div class="content-block">
                        <h2 class="subtitle">You Need an Account</h2>
                        <p>You can’t browse very much on the Site or use the Services without registering for an account. To get the most out of the ESN platform, you’ll need to register, choose an account name, and set a password.</p>
                        <p>You’re responsible for all the activity on your account, and for keeping your password confidential. If you share your account information with anyone, that other person may be able to take control of the account, and we may not be able to determine who is the proper account holder. We will not have any liability to you (or anyone you share your account information with) as a result of your or their actions under those circumstances. If you find out that someone’s used your account without your permission, you should report it at <a href="https://support.ESN.com">support.ESN.com</a>. </p>
                        
                      </div>
                    </div>
                    <div id="content-ownership">
                      <div class="content-block">
                        <span class="back-to-top desktop">Back to top</span>
                        <h2 class="subtitle">Your Content is Yours</h2>
                        <p>Before posting any content to ESN, it is important that you read our <a href="https://support.ESN.com/hc/en-us/articles/200774334-Content-Guidelines">Content Guidelines</a>. If your content does not comply with these guidelines it may be removed at any time. </p>
                        <p>You own all the rights to the content you create and post on the ESN Services. Of course, if the content wasn’t yours to begin with, putting it on ESN doesn’t make it yours. Don’t submit content you don’t hold the copyright for (unless you have permission, including to grant ESN all the rights outlined in these terms).</p>
                        <p>When you post content to ESN, we need the legal permission under applicable copyright laws to display that content to users of the ESN Services. Legally this means you give us a nonexclusive license to publish your content on the ESN Services, including anything reasonably related to publishing it (like storing, displaying, reformatting, and distributing it). You’ll need to decide how you want to license your story content to the ESN community. Please read our guide on <a href="https://support.ESN.com/hc/en-us/articles/216192503-Copyright-FAQ">Copyrights</a> for assistance in making this decision </p>
                        <p>You’re responsible for the content you post. This means you assume all risks related to its publication and display, including someone else’s reliance on its accuracy and any claims relating to intellectual property or other legal rights.</p>
                        <p>ESN is a free service and to continue to make it free you understand that we enable advertising on the Services, including in connection with the display of your content or other information. We may also use your Content to promote the Services. We will never sell your content to third parties without your explicit permission.</p>
                        <p>In your use of the Services you may enter into additional terms and conditions and other agreements that alter or override these Terms of Service, such as when you enter a contest or join a special program like our ESN Stars. In case of any conflict or inconsistency, the terms and conditions of those additional terms and agreements would override these Terms of Service.</p>
                        
                      </div>
                    </div>
                    <div id="ESN-services-rights">
                      <div class="content-block">
                        <span class="back-to-top desktop">Back to top</span>
                        <h2 class="subtitle">Our Rights in the Services</h2>
                        <p>We reserve all rights in the Sites’ and the Services look and feel, and in our content. You may not copy or adapt any portion of our code or visual design elements (including logos) without express written permission from ESN or as set out in this clause. Please do not use our logo or trademarks in any way that might suggest ESN endorses a particular product or service, or you have a business relationship with ESN.</p>
                        <p>Please do not alter, stretch, condense, embellish, add sparkles to, or otherwise change our logo in any way. We’re pretty proud of our logo, and we’d like to keep it as it is. Still not sure what to do with our logo? Check out our full <a href="https://www.ESN.com/brand-guide/">Brand Guidelines.</a>
                        </p>
                        <p>ESN may change, terminate, or restrict access to any aspect of the Services, at any time, without notice. We can remove any content you post or submit for any reason. ESN may access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms of Service, including investigation of potential violations, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of the Services, its users and the public.</p>
                        
                      </div>
                    </div>
                    <div id="copyright-handling">
                      <div class="content-block">
                        <span class="back-to-top desktop">Back to top</span>
                        <h2 class="subtitle">How We Deal with Copyright Issues</h2>
                        <p>ESN has adopted a policy toward copyright infringement on the Services in accordance with the United States Digital Millennium Copyright Act (the "DMCA"). While our policy is based on the US law we apply this same policy globally to all jurisdictions in which our Services are available. If you’d like to submit a claim of copyright infringement, please visit our page on <a href="https://support.ESN.com/hc/en-us/articles/204471770-Reporting-Copyright-Infringement">Reporting Copyright Infringement</a>. ESN reserves the right to remove content alleged to be infringing without prior notice, at our sole discretion, and without liability to you or anyone else. In appropriate circumstances, we will also terminate a user’s account if the user is determined to be a repeat infringer. </p>
                        <p>We sometimes come across websites that have illegally scraped content from ESN. When we find these sites we do our best to have them shutdown. In order to act on behalf of our users we need to have your legal permission to do that so we ask for it here when you sign up. You authorize us to act as your agent to issue take down notices under the DMCA and/or any other similar legislation that allows for the submission of requests to Internet service providers and any other person involved in the illegal posting for the removal of infringing or allegedly infringing copyright materials that are contained in or displayed on such service providers platforms and/or services.</p>
                        
                      </div>
                    </div>
                    <div id="general-terms">
                      <div class="content-block">
                        <h2 class="subtitle">General Terms</h2>
                        <p>
                          <strong>Changes</strong>. Our Terms of Service may change from time to time. If they do, we’ll let you know about any material changes, either by notifying you on the Site or by sending you an email. Please note that your continued use of the Services after any change means that you agree with, and consent to be bound by, the new Terms of Service. If you disagree with any changes in the Terms of Service and do not wish to be subject to the revised terms, you will need to close your account and/or stop using the Services.
                        </p>
                        <p>
                          <strong>Entire agreement</strong>. These Terms of Service (including any document incorporated by reference into them) are the whole agreement between ESN and you concerning the Services, and these Terms of Service supersede and replace any prior agreements between ESN and you regarding the Services.
                        </p>
                        <p>
                          <strong>No waiver and severability</strong>. If ESN doesn’t exercise or enforce a particular right or provision under these Terms of Service, that doesn’t mean we’ve waived that right or provision. If any provision of these Terms of Service is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms of Service will remain in full force and effect.
                        </p>
                        <p>
                          <strong>Choice of law and jurisdiction</strong>. We at ESN encourage you to contact us if you’re having an issue, before resorting to the courts. In the unfortunate situation where legal action does arise, these Terms of Service shall be governed by and interpreted in accordance with the laws of the Province of Ontario and the laws of Canada that apply in Ontario, without regard to principles of conflicts of laws. You agree that any dispute or claim arising out of or in connection with these Terms of Service will take place in the courts of the Province of Ontario.
                        </p>
                        <p>
                          <strong>Assignment</strong>. These Terms of Service are personal to you. You can’t assign them, transfer them, or sublicense them unless you get ESN’s prior written consent. ESN has the right to assign, transfer, or delegate any of its rights and obligations under these Terms of Service without notice and without your consent.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>	
    </div>


<!-- Modal end -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>


    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- wow js -->
    <script src="~/js/wow.min.js"></script>
    <!-- jquery.parallax-1.1.3.js -->
    <script src="~/js/jquery.parallax-1.1.3.js"></script>
    <!-- jquery.countdown.min.js -->
    <script src="~/js/jquery.countdown.min.js"></script>
    <!-- jquery.flexslider.js -->
    <script src="~/js/jquery.flexslider.js"></script>
    <!-- chosen.jquery.min.js -->
    <script src="~/js/chosen.jquery.min.js"></script>
    <!-- jquery.counterup.min.js -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- waypoints.min.js -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/js/main1.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/ng-select/select.min.js"></script>
<script src="~/lib/ckeditor/angular-ckeditor.min.js"></script>

<script>
    $( document ).ready(function() {
        if (!abp.session || !abp.session.userId) {
            $('#btnMyAccount').remove();
        }  else {
            $('#btnSignIn').remove();
        }
    });
</script>
</body>

</html>